.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;

    .search-component {
        width: 500px;
    }
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: solid 1px $grey3;
}

.header__logo {
    width: 270px;
    display: block;
}

.header__logo-img {
    display: block;
    width: 100%;
}

.header__store-controls-row {
    display: flex;

}

.header-store-control {
    border: solid 1px $grey3;
    width: 50px;
    height: 50px;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    svg {
        display: block;
    }

}

.header__store-control-element {
    margin-left: 15px;

    &:first-child {
        margin-left: 0;
    }
}

.header__phone-value {
    display: block;
    text-align: center;
    color: $dark1;
    font-weight: 600;
    font-size: 19px;
}

.header__phone-hour-work {
    text-align: center;
    font-size: 12px;
    color: #A2A2A2;
}

.header__down {
    padding: 20px 0;
    display: flex;
    align-items: center;
}

.header__all-cat {
    display: flex;
    align-items: center;

    svg {
        display: block;
    }
}

.header__all-cat-text {
    margin-left: 10px;
    font-size: 16px;
    font-weight: 500;
    color: $dark1;
}

.header__nav {
    margin-left: 60px;
}

.header__nav-list {
    display: flex;

}

.header__nav-element {
    font-size: 14px;
    margin-right: 30px;
}

.header__nav-link {
    color: $dark1;
}