$mainFont: "Nunito Sans", sans-serif;
// $titleFont: 'Pathway Gothic One', sans-serif;
$titleFont: "Cormorant Garamond", serif;
$titleFont2: "Cinzel", serif;
$subFont: "Nunito Sans", sans-serif;
// $fontNum: 'SKNigarRUS';
$titleFont3: 'TT Ricordi Allegria Trl Regular';




$bgColor: #10161B;
$bgColor2: #151D24;
$bgColor3: #11181F;





$white: #fff;

$grey1: #686D79;
$grey2: #F2F3F7;
$grey3: #CECECE;
$grey4: #A2A2A2;


$blue1: #165298;

$dark1: #020A37;







$green2: #CFCFCF;

$gold1: #F1BD81;

$green1: #3F4F4F;
$green2s: #5D736E;

$red1: #FF3D40;