@import "vars";
@import "fonts";
// @import "mixins";

@import "sourse";
@import "buttons";

@import "header";
@import "footer";

@import "components/sections/banner-slider-sec";
@import "components/sections/brends-sec";
@import "components/sections/products-slider-sec";
@import "components/sections/actyal-cat-sec";

@import "components/cards/product-card";


@import "home-page";