// @font-face {
//     font-family: "Montserrat";
//     font-weight: 100;
//     font-style: normal;
//     src: url('Montserrat-Thin.ttf');
// }

// @font-face {
//     font-family: "Montserrat";
//     font-weight: 100;
//     font-style: italic;
//     src: url('Montserrat-ThinItalic.ttf');
// }

// @font-face {
//     font-family: "Montserrat";
//     font-weight: 200;
//     font-style: normal;
//     src: url('Montserrat-ExtraLight.ttf');
// }

// @font-face {
//     font-family: "Montserrat";
//     font-weight: 200;
//     font-style: italic;
//     src: url('Montserrat-ExtraLightItalic.ttf');
// }


@font-face {
    font-family: "Montserrat";
    font-weight: 300;
    font-style: normal;
    src: url('/fonts/Montserrat/Montserrat-Light.woff2');
    font-display: swap;
}

// @font-face {
//     font-family: "Montserrat";
//     font-weight: 300;
//     font-style: italic;
//     src: url('Montserrat-LightItalic.ttf');
// }

@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: normal;
    src: url('/fonts/Montserrat/Montserrat-Regular.woff2');
    font-display: swap;
}

// @font-face {
//     font-family: "Montserrat";
//     font-weight: 400;
//     font-style: italic;
//     src: url('Montserrat-Italic.ttf');
// }


@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    font-style: normal;
    src: url('/fonts/Montserrat/Montserrat-Medium.woff2');
    font-display: swap;
}

// @font-face {
//     font-family: "Montserrat";
//     font-weight: 500;
//     font-style: italic;
//     src: url('Montserrat-MediumItalic.ttf');
// }

@font-face {
    font-family: "Montserrat";
    font-weight: 600;
    font-style: normal;
    src: url('/fonts/Montserrat/Montserrat-SemiBold.woff2');
    font-display: swap;
}

// @font-face {
//     font-family: "Montserrat";
//     font-weight: 600;
//     font-style: italic;
//     src: url('Montserrat-SemiBoldItalic.ttf');
// }

@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: normal;
    src: url('/fonts/Montserrat/Montserrat-Bold.woff2');
    font-display: swap;
}

// @font-face {
//     font-family: "Montserrat";
//     font-weight: 700;
//     font-style: italic;
//     src: url('Montserrat-BoldItalic.ttf');
// }

// @font-face {
//     font-family: "Montserrat";
//     font-weight: 800;
//     font-style: normal;
//     src: url('Montserrat-ExtraBold.ttf');
// }

// @font-face {
//     font-family: "Montserrat";
//     font-weight: 800;
//     font-style: italic;
//     src: url('Montserrat-ExtraBoldItalic.ttf');
// }

// @font-face {
//     font-family: "Montserrat";
//     font-weight: 900;
//     font-style: normal;
//     src: url('Montserrat-Black.ttf');
// }

// @font-face {
//     font-family: "Montserrat";
//     font-weight: 900;
//     font-style: italic;
//     src: url('Montserrat-BlackItalic.ttf');
// }