@font-face {
    font-family: "Cinzel";
    font-weight: 400;
    font-style: normal;
    src: url('Cinzel-Regular.ttf');
    font-display: swap;
}

// @font-face {
//     font-family: "Cinzel";
//     font-weight: 500;
//     font-style: normal;
//     src: url('Cinzel-Medium.ttf');
// }

// @font-face {
//     font-family: "Cinzel";
//     font-weight: 600;
//     font-style: normal;
//     src: url('Cinzel-SemiBold.ttf');
// }

// @font-face {
//     font-family: "Cinzel";
//     font-weight: 700;
//     font-style: normal;
//     src: url('Cinzel-Bold.ttf');
// }

// @font-face {
//     font-family: "Cinzel";
//     font-weight: 800;
//     font-style: normal;
//     src: url('Cinzel-ExtraBold.ttf');
// }

// @font-face {
//     font-family: "Cinzel";
//     font-weight: 900;
//     font-style: normal;
//     src: url('Cinzel-Black.ttf');
// }