// @font-face {
//     font-family: "Cormorant Garamond";
//     font-weight: 300;
//     font-style: normal;
//     src: url('CormorantGaramond-Light.ttf');
// }

// @font-face {
//     font-family: "Cormorant Garamond";
//     font-weight: 300;
//     font-style: italic;
//     src: url('CormorantGaramond-LightItalic.ttf');
// }

@font-face {
    font-family: "Cormorant Garamond";
    font-weight: 400;
    font-style: normal;
    src: url('/fonts/Cormorant_Garamond/CormorantGaramond-Regular.woff2');
    font-display: swap;
}

// @font-face {
//     font-family: "Cormorant Garamond";
//     font-weight: 400;
//     font-style: italic;
//     src: url('CormorantGaramond-Italic.ttf');
// }

@font-face {
    font-family: "Cormorant Garamond";
    font-weight: 500;
    font-style: normal;
    src: url('/fonts/Cormorant_Garamond/CormorantGaramond-Medium.woff2');
    font-display: swap;
}

// @font-face {
//     font-family: "Cormorant Garamond";
//     font-weight: 500;
//     font-style: italic;
//     src: url('CormorantGaramond-MediumItalic.ttf');
// }

@font-face {
    font-family: "Cormorant Garamond";
    font-weight: 600;
    font-style: normal;
    src: url('/fonts/Cormorant_Garamond/CormorantGaramond-SemiBold.woff2');
    font-display: swap;
}

// @font-face {
//     font-family: "Cormorant Garamond";
//     font-weight: 600;
//     font-style: italic;
//     src: url('CormorantGaramond-SemiBoldItalic.ttf');
// }

@font-face {
    font-family: "Cormorant Garamond";
    font-weight: 700;
    font-style: normal;
    src: url('/fonts/Cormorant_Garamond/CormorantGaramond-Bold.woff2');
    font-display: swap;
}

// @font-face {
//     font-family: "Cormorant Garamond";
//     font-weight: 700;
//     font-style: italic;
//     src: url('CormorantGaramond-BoldItalic.ttf');
// }