.search-component {
    min-width: 300px;
    position: relative;
}

.search-component__header {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.search-component__field {
    width: 100%;
    font-size: 14px;
    color: $grey1;
    background: $grey2;
    border: none;
    border-radius: 100px;
    padding: 15px 45px 15px 45px;
    position: relative;
    z-index: 1;
    font-weight: 500;
    font-family: $mainFont;
}

.search-component__search-icon {
    width: 35px;
    height: 35px;
    position: absolute;
    z-index: 2;
    background: $blue1;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    right: 5px;
    transition: all ease 0.3s;

    svg {
        display: block;
    }

    &:hover {
        transform: scale(1.1);
        transition: all ease 0.3s;
    }
}

.search-component__decor-icon {
    position: absolute;
    left: 15px;
    width: 20px;
    z-index: 2;

}

.search-component__decor-icon-img {
    display: block;
    width: 100%;
}