@font-face {
    font-family: 'RF Dewi Expanded';
    font-weight: 700;
    font-style: normal;
    src: url('/fonts/RFDewiExpanded/RFDewiExpanded-Bold.woff2');
    font-display: swap;
}

@font-face {
    font-family: 'RF Dewi Expanded';
    font-weight: 600;
    font-style: normal;
    src: url('/fonts/RFDewiExpanded/RFDewiExpanded-Semibold.woff2');
    font-display: swap;
}

@font-face {
    font-family: 'RF Dewi Expanded';
    font-weight: 400;
    font-style: normal;
    src: url('/fonts/RFDewiExpanded/RFDewiExpanded-Regular.woff2');
    font-display: swap;
}